<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>Reset Password</h3>

            <p class="text-center">Enter your email address to request a password reset</p>

            <div class="formGroup">
                <input type="email" class="formControl" placeholder="email@address.smth" #passwordResetEmail required>
            </div>

            <!-- forgot password in auth service -->
            <div class="formGroup">
                <input type="submit" class="btn btnPrimary" value="Reset Password"
                    (click)="authService.ForgotPassword(passwordResetEmail.value)">
            </div>
        </div>
        <div class="redirectToLogin">
            <span>Return to ?<span class="redirect" routerLink="/signIn">Log In</span></span>
        </div>
    </div>
</div>