<!--sidebar navigation-->
<div class="container-fluid">
    <!-- main content-->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">

            <div class="pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2"> User Profile</h1>
            </div>

            <!--user data when logged in-->
            <div class="row" *ngIf="authService.user$ as User">
                <div class="col-md 12">
                    <div class="media">
                        <img class="align-self-start mr-5 img-thumbnail rounded-circle"
                            src="{{(User.photoURL) ? User.photoURL:'/assets/dummy-user.png'}}" alt="{{User.name}}" />
                        <div class="media-body">
                            <h1>Signed in as <strong>{{(User.name)?User.name:'User'}}</strong></h1>
                            <p>User Id: <strong>{{User.uid}}</strong></p>
                            <p>User email: <strong>{{User.email}}</strong></p>
                            <p>Email has been verified: <strong>{{User.emailVerified}}</strong></p>
                            <h2>Roles:</h2>
                            <ul>
                                <li *ngFor="let role of User.roles">
                                    {{role}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>