<mat-toolbar color="primary">
    <a mat-button routerLink="/home" class="mainTitleText">
        <img class="navBarLogo" src="assets/mainLogoWhite.png">
        Records
    </a>

        <!-- This fills the remaining space of the current row -->
        <span class="fill-space"></span>

        <div *ngIf="user; then loggedInCoices else loginBtn">
             <!-- content from templates -->
        </div>

        <ng-template #loggedInCoices>
            <a mat-flat-button *ngIf="authService.canManage(user)" routerLink="/tournamentsManagement"></a>
            <button mat-stroked-button (click)="authService.signOut()">Sign Out</button>
        </ng-template>
        <ng-template #loginBtn>
           <a mat-flat-button routerLink="sign-in"></a>
        </ng-template>

</mat-toolbar>